<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2></h2>
            <a href="#" class="btn btn-default btn-xl wow tada">Insert something here</a>
        </div>
    </div>
</aside>
